<config>
  <swf width="960" height="720" scaleMode="noScale" alignMode="TL" preloaderSize="0" bgSoundLoop="true" />
  <preloader percentTextColor="16777215" bgColor="16777215" size="0" url="resource/res/others/label.swf">
    <backImg alpha="1.00" size="0" url="resource/res/others/preloaderBG.jpg" showType="showAll" />
  </preloader>
  <dataLoadControl size="1" url="resource/res/others/datacontrol.swf" />
  <player size="0" url="resource/res/others/player.swf" />
  <playMode startType="" playType="manualPlay" endType="showReplayButton" />
  <imgDescription position="bottom" showType="auto" />
  <temp3D albumListType="mask" albumListPosition="" playBarVisible="true" controlBarVisible="true" autoAddImgBoolean="true" />
  <maTempXMLData url="resource/res/others/Verticalwall.swf" />
  <maAlbumListData url="resource/album.xml" />
  <tempBackGround>
  <backImg alpha="1.00" size="0" url="resource/res/others/backImage.jpg" showType="center" />
</tempBackGround>
</config>
