/* Text styles */
.xr_s0 {font-size:21px;font-weight:normal;font-style:normal;text-decoration:none;letter-spacing:0.0em;}
.xr_s1 {font-family:Calibri;font-size:16px;font-weight:bold;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
