/* Text styles */
.xr_s0 {font-family:Arial;font-size:15px;font-weight:normal;font-style:normal;text-decoration:none;color:#F765B1;letter-spacing:0.0em;}
.xr_s1 {font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
